
!.asax
!.asax.cs
!*.cs
!/CalorieCounter.WS/*.asmx
!/CalorieCounter.Controlador/*.cs
!/CalorieCounter.Objetos/*.cs
!/CalorieCounter.ServicioBD/*.cs
/ColorieCounter.BD/*.cs

*.sln
*.suo
*.sql

/packages/
/CalorieCounter.Controlador/bin/
/CalorieCounter.Controlador/obj/
/CalorieCounter.Controlador/Properties/
/CalorieCounter.Controlador/*.csproj

/CalorieCounter.Objetos/bin/
/CalorieCounter.Objetos/obj/
/CalorieCounter.Objetos/Properties/
/CalorieCounter.Objetos/*.csproj

/CalorieCounter.ServicioBD/bin/
/CalorieCounter.ServicioBD/obj/
/CalorieCounter.ServicioBD/Properties/
/CalorieCounter.ServicioBD/*.csproj

/CalorieCounter.WS/bin/
/CalorieCounter.WS/obj/
/CalorieCounter.WS/Properties/
/CalorieCounter.WS/*.cs
/CalorieCounter.WS/*.csproj
/CalorieCounter.WS/*.user
/CalorieCounter.WS/Web.Debug.config
/CalorieCounter.WS/Web.Release.config