<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
     <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    </system.web>
   
     <connectionStrings>
       
        <add name="CalorieCounterEntities" connectionString="metadata=res://*/CalorieCounter.csdl|res://*/CalorieCounter.ssdl|res://*/CalorieCounter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BPVMXL22413G1\SQLEXPRESS_ED;initial catalog=CalorieCounter;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
       <!-- Produccion
        <add name="CalorieCounterEntities" connectionString="metadata=res://*/CalorieCounter.csdl|res://*/CalorieCounter.ssdl|res://*/CalorieCounter.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5002.Smarterasp.net;initial catalog=DB_9B84AE_a2zworkout;;User Id=DB_9B84AE_a2zworkout_admin;Password=8807887580;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      -->
      </connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>

</configuration>
